body{
    margin: 0;
    padding: 0;
    background: url(backgroundd.jpg);
    background-size: cover;
    background-position: centre;
    font-family: sans-serif;
}

.signupbox{
    width: 320px;
    height: 420px;
    background: transparent;
    color: #0e0704;
    top: 55%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 50px 20px;
}

.avatar{
    width:100px;
    height: 100p;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.signupbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.signupbox input{
    width: 100%;
    margin-bottom: 20px;
}

.signupbox input[type="text"], input[type="password"]{
    border: none;
    border-bottom: 1px solid #000000;
    background: transparent;
    outline: none;
    height: 40px;
    color: #0f0a0a;
    font-size: 16px;
}

.signupbox input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #0cb0b6;
    color: #ffffff;
    font-size: 18px;
    border-radius: 20px;
}

.signupbox input[type="submit"]:hover{
    cursor: pointer;
    background: rgb(16, 44, 59);
    columns: #000000;

}

.signupbox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color:rgb(169, 169, 169);
}


