<header>
    <div class="container">
        <nav class="header-nav">
            <ul>
                <li ui-sref-active="active" ui-sref="base.home">
                    <a href>
                        <i class="fa fa-home"></i> Home
                    </a>
                </li>
                <li ui-sref-active="active" ui-sref="base.askQuestion">
                    <a href>
                        <i class="fa fa-question"></i> Ask Question
                    </a>
                </li>
            </ul>
        </nav>

        <div class="username pull-right">
            <i class="fa fa-user-o"></i> {{userName}}
        </div>

    </div>
</header>