<div class="container">
    <div class="content">
        <br>

        <div class="back-link"> <span ui-sref="base.home"><i class="fa fa-arrow-left"></i> Back To Questions</span></div>

        <div class="questions-list auto-height">
    
            <div class="single-question ask-question">
                <i class="fa fa-quora"></i>.
                <span ng-bind="question.question"></span>
                <br><br>
                <div class="badges">
                    <span class="badge" ng-repeat="badge in question.badges" ng-bind="badge">
                    </span>
                </div>
                <br>
                <div ng-bind-html="question.description | unsafe" class="clearfix">
                </div>
            </div>
    
        </div>
        <hr>
        <br>
        <div ng-include="'views/answers.html'"></div>
        <hr>
        <br>
        <div ng-include="'views/postAnswer.html'"></div>

    </div>
</div>