<div class="container">
    <div class="content">
        <br>
        <div class="question-filter clearfix">
            <div class="search-box">
                <form ng-submit="submitQuery($event, searchText)">
                    <span class="fa fa-search"></span>
                    <input type="search" class="search-input" placeholder="Search" ng-model="searchText.$">
                    <button class="search-btn" type="submit">Search</button>
                </form>
            </div>
            <div class="badges-box">
                <select ng-model="searchQuery.badge" class="search-input">
                    <option ng-value="badge" ng-repeat="badge in getBadges()" ng-bind="badge"></option>
                </select>
            </div>
        </div>

        <div class="alert alert-warning" ng-if="!results.length">
            <i class="fa fa-warning"></i>
            Questions not found! try another query.
        </div>

        <div class="questions-list">
    
            <div class="single-question" ng-repeat="question in results = (questions | filter : {$: searchQuery.$, badges: searchQuery.badge})">
                <i class="fa fa-quora"></i>
                <span ng-bind="question.question"></span>
                <br><br>
                <div class="badges">
                    <span class="badge" ng-repeat="badge in question.badges" ng-bind="badge">
                    </span>
                </div>
                <div class="separator"></div>
            </div>
    
        </div>

    </div>
</div>