
<div class="loginbox">
    <div class="text-center">
        <i class="fa fa-user-o avatar"></i>
    </div>
    <h1>Create Account</h1>
    
    <form>
        <p>Username</p>
        <input type="text" name="" placeholder="Enter Username">
        <p>Email</p>
        <input type="email" name="" placeholder="Enter Email">
        <p>Password</p>
        <input type="password" name="" placeholder="Enter password">
        <p>Date Of Birth</p>
        <input type="date" name="" placeholder="Enter Date Of Birth">
        <button class="block ripple-effect">Sign Up</button>

        <a ui-sref="login">Already have an account?</a>
    </form>

</div>
<div class="bg-container"></div>
