html{
    background-color: #f2f2f2;
}
html, body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
*, ::after, ::before {
    box-sizing: border-box;
}
.clearfix:after,
.clearfix:before{
    display: table;
    content: " ";
    clear: both;
}

header{
    background-color: #252830;
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 1px 1px 1px #808080;
    color: #fff;
    z-index: 999;
}
.username{
    padding: 15px;
    margin-right: 20px;
    text-transform: capitalize;
}
.username:hover{
    background: #000;
    cursor: pointer;
}
.section-content{
    margin-top: 60px;
}
.container{
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}
.header-nav ul{
    padding: 0;
    margin: 0;
    float: left;
}
.header-nav ul li{
    float: left;
    list-style: none;
    font-size: 14px;
    padding: 16px;
    position: relative;
    background-color: #252830;
}
.header-nav ul li a{
    text-decoration: none;
    color: #fff;
}

.header-nav ul li:hover{
    background-color: #000;
    cursor: pointer;
}
.header-nav ul li.active{
    background-color: #000;
    cursor: pointer;
}

.header-nav ul li:before{
    transition: all .5s ease-in-out;
    background-color: #000;
    content: " ";
    position: absolute;
    box-shadow: 1px 1px 1px #808080;
    top: calc(100% - 25px);
    z-index: -1;
    overflow: visible;
    left: 50%;
    transform: translateX(-50%) rotateZ(45deg);
    height: 20px;
    width: 20px;
}
.header-nav ul li.active:before{
    top: calc(100% - 10px);
}
.text-center{
    text-align: center;
}
.block{
    display: block;
    width: 100%
}









.ripple-effect{
    position: relative;
    animation: all ease-in-out;
}
.ripple-effect:before {
    display: none;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

.ripple-effect:before {
    border: solid 5px!important;
}

.ripple-effect:hover:before {
    display: block;
    -webkit-animation-name: hvr-ripple-out;
    animation-name: hvr-ripple-out;
}


@-webkit-keyframes hvr-ripple-out {
  100% {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0;
    border-radius: 100px;
  }
}

@keyframes hvr-ripple-out {
  100% {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0;
    border-radius: 100px;
  }
}

.alert{
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}